<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"></head>
<label>!!!!</label><br><br>
<h4 style="margin-left:20px">WILL BE PERMANANTLY DELETED</h4><br><br>
<input style="margin-left:20px" type="button" {{action logout}} value="REMOVE ACCOUNT" />
{{outlet}}