 

 <div>
     <h3 style="margin-top:20px;margin-left:10px;">LOGIN &nbsp;PAGE</h3>
     <form class="div">
        <label> USERID:</label> {{input  name=id value=id}}<br /><br />
            <label>PASSWORD:</label><input  type="password" id="password"/><br /><br />
            <input style="margin-left: 250px; margin-right: 30px" type="button" value="LOGIN" {{action save}} /><input type="reset" value="CLEAR" />
            <br/>
            
          <button style="margin-left: 250px; margin-right: 30px" class="signup">{{#link-to 'signup' type="button"}}
    SIGN UP
  {{/link-to}}</button>
 
     </form>
 </div>
