<h3 style="margin-top:20px;margin-left:10px;">ADD  &nbsp;EMPLOYEE  &nbsp;PAGE</h3>
 <form  class="div">
 <label >EMPNAME:</label><input  type="text" id="name"  /><br/><br/>
            <!--<label >ID:</label>{{input  id=id}}<br/><br/>-->
            <label>PASSWORD</label><input  type="password" id="password"  /><br/><br/>
             <label>CONFIRM PASSWORD</label><input  type="password" id="confirmpassword"  /><br/><br/>
             <input style="margin-left: 250px" type="button" value="REGISTER"  {{action ajax1}}/>
                 <input style="margin-left: 20px" type="reset" value="CLEAR" />
            </form>